<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Raspberry Pi LED Control</title>
</head>
      <body>
      <center><h1>Interactive Buttons</h1>     
        <form method="get" action="">               
           <input type="submit" style="font-size: 14 pt" value="OFF" name="LED_OFF">
           <input type="submit" style="font-size: 14 pt" value="ON" name="LED_ON">
           <br/> 
           Enter Brightness (0-255): <input type="number" name="BRIGHTNESS">
           
        </form>
       </center>
  </body>
</html>