<html>
<head>
<meta name="viewport" content="width=device-width" />
<title>Motor Control</title>
</head>
      <body>
      <center><h1>Motor Control</h1>     
        <form method="get" action="">               
           <!-- <input type="submit" style="font-size: 14 pt" value="OFF" name="LED_OFF">
           <input type="submit" style="font-size: 14 pt" value="ON" name="LED_ON"> -->
           <br/> 
           Enter Distance (0-10 Feet): <input type="number" name="DISTANCE">
           <br/> 
        </form>
        <form method="get" action="">               
          <!-- <input type="submit" style="font-size: 14 pt" value="OFF" name="LED_OFF">
          <input type="submit" style="font-size: 14 pt" value="ON" name="LED_ON"> -->
          Enter Turn in Degrees (0-360 Degrees): <input type="number" name="TURN_DEGREES">
       </form>
       </center>
  </body>
</html>